.news {
  padding: 30px;
  text-align: center;
  min-height: 100%;
  
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__content {
    text-align: left;
  }

  &__item {
    list-style: none;
  }
}

.news-post {

  &__title {
    
  }

  &__text {

  }
}